/k8s/
/.mypy_cache/
/.ipynb_checkpoints/
/.libgit2-master/
/creds/
/wip/
/legacy/
/tools/set_keys.bash
/tools/fix_git_email.bash
/analysis/.ipynb_checkpoints/
/liualgotrader/__pycache__/
/tests/__pycache__/
/.idea/
/liualgotrader/scanners/__pycache__/
/liualgotrader/common/__pycache__/
/docs/build/
/analysis/notebooks/.ipynb_checkpoints
/liu_data/
/liu_samples/
.hypothesis/
/.vscode/
/.coveragerc
/analysis/notebooks/Labs/.ipynb_checkpoints/
/design/.ipynb_checkpoints/
*.toml
*.toml.*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/


