requests==2.23.0
deprecated==1.2.9
urllib3==1.25.9
numpy==1.18.3
mypy==0.770
black==19.10b0
flake8==3.7.9
pylint==2.4.4
Cython==0.29.16
alpaca-trade-api >= 0.25
sklearn==0.0
google-cloud-logging==1.15.0
therapist==2.0.0
jupyter==1.0.0
TA-Lib==0.4.17
asyncpg==0.20.1
psycopg2-binary
sqlalchemy
pygit2
google-cloud-error-reporting
pytest
pytest-asyncio
