requests==2.23.0
deprecated==1.2.9
urllib3<1.25
numpy
mypy
black
flake8
pylint
Cython
alpaca-trade-api >= 0.25
sklearn
google-cloud-logging
therapist
jupyter
TA-Lib
asyncpg
psycopg2-binary
sqlalchemy
pygit2
google-cloud-error-reporting
pytest
pytest-asyncio
